.pd-card{
    width: 50em;
    margin: auto;
    margin-top: 10px !important;
}

h2{
    text-align: center;
}

button{
    text-align: center;
}

.btn-div{
    text-align: center !important;
}

.save-btn{
    background-color: #673ab7 !important;
    border: none !important
}