<nav>
    <ul>
        <li><a routerLinkActive="active" routerLink="login">Login</a></li>
        <li><a routerLinkActive="active" routerLink="dashboard">Dashboard</a></li>
        <li><a routerLinkActive="active" routerLink="user-list">User</a></li>
        <li><a routerLinkActive="active" routerLink="product-list">Product</a></li>
        <li><a routerLinkActive="active" routerLink="product-category-list">Product Category</a></li>
        <li><a routerLinkActive="active" routerLink="stock">Product Stock</a></li>
        <li><a routerLinkActive="active" routerLink="merchant-list">Merchants</a></li>
    </ul>
</nav>