.pd-card{
    width: 70em;
    margin: auto;
    margin-top: 10px !important;
}

h2{
    text-align: center;
}

.btn-div{
    text-align: center;
}


.save-btn{
    background-color: #673ab7 !important;
    border: none !important
}