<div>
    <div class="row card-div">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total User</h1>
                    <p class="card-text">{{userCount}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total Products</h1>
                    <p class="card-text">{{productCount}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total Product Category</h1>
                    <p class="card-text">{{productCategoryCount}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-div">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total User</h1>
                    <p class="card-text">{{userCount}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total Products</h1>
                    <p class="card-text">{{productCount}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Total Product Category</h1>
                    <p class="card-text">{{productCategoryCount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>